html, body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.fill {
  padding-left: 0;
  padding-right: 0;
}

div#bg {
  background: linear-gradient(rgba(30,30,30,0.5), rgba(30,30,30,0.5)), url('../imgs/sayan-nath-351077-unsplash_1440.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* background-color: blue; */
  min-width: 100%;
  height: 100vh;
}

.xlarge-font {
  font-size: 60px;
}

.large-font {
  font-size: 32px;
}

.light-weight {
  font-weight: 100;
}

.white {
  color: white;
}

.light-grey {
  color: #D3D3D3;
}

.orange {
  color: #BF772D;
}

.based-background {
  background-color: #326373;
  border-color: #326373;
}

.based-color {
  color: #326373;
}

.light-background {
  background-color: #80A1AD;
}

.darker-background {
  background-color: #083240;
  color: #fff;
}

.btn-primary:hover {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
}

.btn-primary:focus,
.btn-primary:active {
  background: #1B4C5C!important;
  outline: none;
  box-shadow: none !important;
  border-color: #1B4C5C!important;;
}

input#submit.btn.btn-block.btn-custom {
  background-color: #326373;
  color: #fff;
}

input#submit.btn.btn-block.btn-custom:hover {
  background-color: #1B4C5C;
}

.extra-margin {
  margin-top: 50px;
}

.form-control-range {
  display: inline;
}

.w-80 {
  width: 80%!important;
}

.padding {
  padding: 25px;
}

.small-padding {
  padding: 3px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.space-evenly {
  justify-content: space-evenly;
}

.flex-item {
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.card-img-overlay {
  padding: .7rem;
}
