{% extends 'base.html' %}

{% block title %}
  Estimator
{% endblock %}

{% block app_content %}
  <div class="container">
    <div class="row extra-margin">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="row">
            <div class="col-md-8">
              <div class="card-body padding">
                <h1 class="text-center based-color">Enter House Features</h1>
                <form method="post" action="estimate" role="form">
                  {{ form.csrf }}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="finished_sq_ft">Square Foot</label>
                      <input type="range" class="form-control-range w-75" id="finished_sq_ft" min="0" max="5000" value="2500" onchange="showSqFt(this.value);" name="finished_sq_ft">
                      <span class="pl-1 ml-1 text-right" id="spanSqFt">0</span>
                    </div> <!-- End div col -->
                    <div class="form-group col-md-6">
                      <label for="lot_size">Lot Size</label>
                      <input type="range" class="form-control-range w-75" id="lot_size" min="0" max="5000" value="2500" onchange="showLot(this.value);" name="lot_size">
                      <span class="pl-1 ml-1" id="spanLot">0</span>
                    </div> <!-- End div col -->
                  </div> <!-- End div row -->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="bedroom">Beds</label>
                      <input type="text" class="form-control" id="bedroom" name="bedroom">
                    </div> <!-- End div col -->
                    <div class="form-group col-md-6">
                      <label for="bathroom">Baths</label>
                      <input type="text" class="form-control" id="bathroom" name="bathroom">
                    </div> <!-- End div col -->
                  </div> <!-- End div row -->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="total_room">Total Rooms</label>
                      <input type="text" class="form-control" id="total_room" name="total_room">
                    </div> <!-- End div col -->
                    <div class="form-group col-md-6">
                      <label for="built_year">Year Built</label>
                      <input type="text" class="form-control" id="built_year" name="built_year">
                    </div> <!-- End div col -->
                  </div> <!-- End div row -->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="property_type">Property Type</label>
                      <select id="property_type" name="property_type" class="form-control">
                        <option value="APARTMENT">Apartment</option>
                        <option value="CONDO">Condo</option>
                        <option value="MULTI_FAMILY">Multi-Family</option>
                        <option value="SINGLE_FAMILY">Single-Family</option>
                        <option value="TOWNHOUSE">Townhouse</option>
                      </select>
                    </div> <!-- End div col -->
                    <div class="form-group col-md-6">
                      <label for="neighborhood">Neighborhood</label>
                      <select id="neighborhood" name="neighborhood" class="form-control">
                        <option value="Allston">Allston</option>
                        <option value="Back Bay">Back Bay</option>
                        <option value="Bay Village">Bay Village</option>
                        <option value="Beacon Hill">Beacon Hill</option>
                        <option value="Brighton">Brighton</option>
                        <option value="Charlestown">Charlestown</option>
                        <option value="Chinatown">Chinatown</option>
                        <option value="Downtown">Downtown</option>
                        <option value="Downtown Crossing">Downtown Crossing</option>
                        <option value="East Boston">East Boston</option>
                        <option value="Fenway">Fenway</option>
                        <option value="Hyde Park">Hyde Park</option>
                        <option value="Jamaica Plain">Jamaica Plain</option>
                        <option value="Kenmore">Kenmore</option>
                        <option value="Mattapan">Mattapan</option>
                        <option value="Mission Hill">Mission Hill</option>
                        <option value="North Dorchester">North Dorchester</option>
                        <option value="North End">North End</option>
                        <option value="Roslindale">Roslindale</option>
                        <option value="Roxbury">Roxbury</option>
                        <option value="South Boston">South Boston</option>
                        <option value="South Dorchester">South Dorchester</option>
                        <option value="South End">South End</option>
                        <option value="West End">West End</option>
                        <option value="West Roxbury">West Roxbury</option>
                      </select>
                    </div> <!-- End div col -->
                  </div> <!-- End div row -->
                  <button type="submit" class="btn btn-block btn-custom">Submit</button>
                </form>
              </div> <!-- End card body -->
            </div> <!-- End col 8 -->
            <div class="col-md-4">
              <img src="static/imgs/breakfast-contemporary-daylight-1440.jpg" alt="" class="card-img" style="height:100%;object-fit:cover;">
            </div> <!-- End col 8 -->
          </div> <!-- End div row -->
        </div> <!-- End div card -->
      </div> <!-- End div col-8 -->
    </div> <!-- End div row -->
  </div> <!-- End div for container -->
{% endblock %}
