{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
  Estimator
{% endblock %}

{% block app_content %}
  <div class="container">
    <div class="row extra-margin">
      <div class="col-md-8 mx-auto">
        <div class="card">
          <div class="row">
            <div class="col-md-8">
              <div class="card-body padding">
                <h1 class="text-center based-color">Enter House Features</h1>
                <form method="post" action="{{ url_for('index') }}" role="form">
                  {{ form.hidden_tag() }}
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      {{ form.finished_sq_ft.label }}
                      {{ form.finished_sq_ft(min=0, max=5000, onchange="showSqFt(value)", class="form-control-range w-75") }}
                      <span class="pl-1 ml-1 text-right" id="spanSqFt">2500</span>
                    </div> <!-- End div col -->
                    <div class="form-group col-md-6">
                      {{ form.lot_size.label }}
                      {{ form.lot_size(min=0, max=5000, onchange="showLot(value)", class_="form-control-range w-75") }}
                      <span class="pl-1 ml-1" id="spanLot">2500</span>
                    </div> <!-- End div col -->
                  </div> <!-- End div row -->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      {{ form.bedroom.label }}
                      {{ form.bedroom(class_="form-control") }}

                      {% for error in form.bedroom.errors %}
                      <div class="invalid-feedback">{{ error }}</div>
                      {% endfor %}
                    </div> <!-- End div col -->
                    <div class="form-group col-md-6">
                      {{ form.bathroom.label }}
                      {{ form.bathroom(class_="form-control") }}
                    </div> <!-- End div col -->
                  </div> <!-- End div row -->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      {{ form.total_room.label }}
                      {{ form.total_room(class_="form-control") }}
                    </div> <!-- End div col -->
                    <div class="form-group col-md-6">
                      {{ form.built_year.label }}
                      {{ form.built_year(class_="form-control") }}
                    </div> <!-- End div col -->
                  </div> <!-- End div row -->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      {{ form.property_type.label }}
                      {{ form.property_type(class_="form-control") }}
                    </div> <!-- End div col -->
                    <div class="form-group col-md-6">
                      {{ form.neighborhood.label }}
                      {{ form.neighborhood(class_="form-control") }}
                    </div> <!-- End div col -->
                  </div> <!-- End div row -->
                  {{ form.submit(class_="btn btn-block btn-custom") }}
                </form>
              </div> <!-- End card body -->
            </div> <!-- End col 8 -->
            <div class="col-md-4">
              <img src="static/imgs/breakfast-contemporary-daylight-1440.jpg" alt="" class="card-img" style="height:100%;object-fit:cover;">
            </div> <!-- End col 8 -->
          </div> <!-- End div row -->
        </div> <!-- End div card -->
      </div> <!-- End div col-8 -->
    </div> <!-- End div row -->
  </div> <!-- End div for container -->
{% endblock %}
