{% extends 'base.html' %}

{% block app_content %}
  <div class="container-fluid fill">
    <div id="bg">
      <div class="container h-100">
        <div class="row h-100">
          <div class="col-8 mx-auto my-auto">
            <p class="xlarge-font white">HOUSE PRICE ESTIMATOR</p>
            <a href="{{ url_for('index') }}" class="btn btn-primary btn-lg based-background"><i class="fas fa-caret-right"></i> Let's Start!</a>
          </div> <!-- end div for col -->
        </div> <!-- end div for row -->
      </div> <!-- end div for container -->
    </div> <!-- end div for background -->
  </div> <!-- end div for container -->
{% endblock %}
